{% extends 'bookshop/base.html' %}
<title>{% block title %} Biz bilan boglanish | Bookshop {% endblock %}</title>
{% block content %}

    <div class="ps-hero">
        <div class="container">
            <h3>お問い合わせ</h3>
            <p>私たちの物語</p>
        </div>
    </div>

    <!-- <div id="contact-map" data-address="New York, NY" data-title="BAKERY LOCATION!" data-zoom="17"></div> -->
    <main class="ps-main">
        <div class="ps-container">
            <div class="ps-contact">
                <div class="row">
                    <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 ">
                        <form  action="" method="POST">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 ">
                                    <div class="form-group">
                                        <label>名前 <sup>*</sup></label>
                                        <input class="form-control" name="Name"type="text" placeholder="">
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 ">
                                    <div class="form-group">
                                        <label>メール <sup>*</sup></label>
                                        <input class="form-control" type="text" name="Email" placeholder="">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label>あなたのメッセージを書いてください <sup>*</sup></label>
                                <textarea class="form-control" name="Message" rows="7"></textarea>
                            </div>
                            <div class="form-group">
                                <button class="ps-btn pl-60 pr-60" type="submit">送信</button>
                            </div>
                        </form>
                    </div>
                    <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 ">
                        <div class="ps-contact__info">
                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 ">
                                    <div class="ps-block--contact">
                                        <h3>私たちのオフィスはアンディジャンにあります</h3>
                                        <h4>KIA</h4>
                                        <p><i class="fa fa-envelope-o"></i><a href="#">kiaandijan@example.com</a></p>
                                        <p><i class="fa fa-phone"></i> +99890 540 16 96</p>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 ">
                                    <div class="ps-block--contact">
                                        <h3>私たちのオフィスはタシケントにあります</h3>
                                        <h4>KIA</h4>
                                        <p><i class="fa fa-envelope-o"></i><a href="#">hello@basis.com</a></p>
                                        <p><i class="fa fa-phone"></i> +1 650-253-0000</p>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 ">
                                    <div class="ps-block--contact">
                                        <h3>私たちのオフィスはナマンガンにあります</h3>
                                        <h4>KIA</h4>
                                        <p><i class="fa fa-envelope-o"></i><a href="#">hello@basis.com</a></p>
                                        <p><i class="fa fa-phone"></i> +1 650-253-0000</p>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 ">
                                    <div class="ps-block--contact">
                                        <h3>ソーシャルネットワークで</h3>
                                        <ul class="ps-social">
                                            <li><a href="www.facebook.com/JavlonbekTorajonovvl"><i class="fa fa-facebook"></i></a></li>
                                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                            <li><a href="www.instagram.com/javlonbektorajonov_007"><i class="fa fa-instagram"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}