{% extends "admin/base_site.html" %}

{% block title %}
  Order {{ order.id }} {{ block.super }}
{% endblock %}

{% block breadcrumbs %}
  <div class="breadcrumbs">
    <a href="{% url "admin:index" %}">Bosh menu</a> &rsaquo;
    <a href="{% url "admin:orders_order_changelist" %}">Buyurtmalar</a>
    &rsaquo;
    <a href="{% url "admin:orders_order_change" order.id %}">Buyurtma {{ order.id }}</a>
    &rsaquo; Detallari
  </div>
{% endblock %}

{% block content %}
<h1>Buyurtma{{ order.id }}</h1>
<ul class="object-tools">
  <li>
    <a href="#" onclick="window.print();">Bosib chiqarish buyurtmasi</a>
  </li>
</ul>
<table>
  <tr>
    <th>Yaratilgan</th>
    <td>{{ order.created }}</td>
  </tr>
  <tr>
    <th>Haridor</th>
    <td>{{ order.first_name }} {{ order.last_name }}</td>
  </tr>
  <tr>
    <th>E-mail</th>
    <td><a href="mailto:{{ order.email }}">{{ order.email }}</a></td>
  </tr>
  <tr>
    <th>Manzil</th>
    <td>{{ order.address }}, {{ order.postal_code }} {{ order.city }}</td>
  </tr>
  <tr>
    <th>Umumiy hisob</th>
    <td>${{ order.get_total_cost }}</td>
  </tr>
  <tr>
    <th>Status</th>
    <td>{% if order.paid %}Paid{% else %}Pending payment{% endif %}</td>
  </tr>
</table>

<div class="module">
  <h2>Sotib olingan narsalar</h2>
  <table style="width:100%">
    <thead>
      <tr>
        <th>Mahsulot</th>
        <th>Narxi</th>
        <th>Soni</th>
        <th>Jami</th>
      </tr>
    </thead>
    <tbody>
      {% for item in order.items.all %}
        <tr class="row{% cycle "1" "2" %}">
          <td>{{ item.product.name }}</td>
          <td class="num">${{ item.price }}</td>
          <td class="num">{{ item.quantity }}</td>
          <td class="num">${{ item.get_cost }}</td>
        </tr>
      {% endfor %}
      <tr class="total">
        <td colspan="3">Jami :</td>
        <td class="num">${{ order.get_total_cost }}</td>
      </tr>
    </tbody>
  </table>
</div>
{% endblock %}
