{% extends 'bookshop/base.html' %}
{% load static %}
<title>{% block title %} アカウントにサインインする | KIA{% endblock%}</title>
{% block content %}

    <section class="my_account_area pt--80 pb--55 bg--white">
        <div class="container">
            <div class="row">
                <!-- registration form  -->
                <div class="col-lg-6 col-12">

                    <!-- flash messages  -->
                    {% include 'users/alerts.html' %}
                    <!-- end flash messages -->
                    <h1 style="margin-top:10%;">ログイン</h1><br>
                    <form class="ps-form--contact" action="" method="post">
                        {% csrf_token %}
                        <div class="form-group">
                            <label>ユーザー名 <sup>*</sup></label>
                            <input class="form-control" type="text" placeholder="ユーザー名を入力して下さい" name="username"
                                required>
                        </div>
                        <div class="form-group">
                            <label>パスワード <sup>*</sup></label>
                            <input class="form-control" type="password" placeholder="パスワードを入力してください" name="password"
                                required>
                        </div>
                        <div class="form-group">
                            <button class="ps-btn pl-60 pr-60">ログイン </button>
                        </div>
                        <div class="form-group">
                            <div>
                                <p class="text-muted">アカウントが必要です？<a class="ml-2" href="{% url 'register' %}">今すぐ登録</a></p>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>

{% endblock %}